<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- Boton cerrar para cuando es una ventana modal -->
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

    
    <ion-buttons slot="start" *ngIf="showMenu"> <!-- Botón de menú dinámico -->
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

    <!-- Titulo -->
    <ion-title class="ion-text-center">
      <strong>{{ title }} </strong>
      <div class="software"><span class="extrabold">Manzanares </span> <span class="normal">Gestion</span></div>
    </ion-title>

  </ion-toolbar>
  
</ion-header>