.software {
    font-size: 12px; /* Ajusta el tamaño según sea necesario */

}
.software .extrabold {
    font-weight: 800; /* Peso extra bold para  primer palabra del software */
}

.software .normal {
    font-weight: 400; /* Peso normal para la segunda palabra del software */
}