<ion-item lines="none">
  <ion-icon *ngIf="icon" color="primary" slot="start" [name] ="icon"></ion-icon>

  <!-- Manejo de Select -->
  <ion-select *ngIf="type === 'select'" [formControl]="control" [label]="label">
    <ion-select-option *ngFor="let option of options" [value]="option.id">
      {{ option.name }}
    </ion-select-option>
  </ion-select>

  <!-- Manejo de Input -->
  <ion-input 
    *ngIf="type !== 'select'"
    [label]="label"
    [type]="type" 
    [autocomplete] ="autocomplete"
    [formControl]="control"
    labelPlacement="floating"
    [readonly]="readonly"></ion-input>

    <ion-button *ngIf="isPassword" (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
      <ion-icon [name]="hide ? 'eye-outline' : 'eye-off-outline'" slot="start"></ion-icon>
    </ion-button>
</ion-item>
