<app-header title="Recuperar contraseña"></app-header>

<ion-content [fullscreen]="true">
  <div class="form">
      <app-logo></app-logo>
      <p>Te enviaremos un correo para que puedas restablecer tu contraseña</p>

      <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">


        <app-custom-input icon="person-outline" 
          label="Cédula" 
          type="number" 
          autocomplete="identificacion"
          [control]="recoverForm.controls.identificacion">
          </app-custom-input>
            <!-- Errores -->
            <div class="error"
              *ngIf="recoverForm.controls.identificacion.errors && recoverForm.controls.identificacion.touched">
              <span *ngIf="recoverForm.controls.identificacion.errors?.['required']">La cédula es obligatoria</span>
              <span *ngIf="recoverForm.controls.identificacion.errors?.['minlength']"> La cédula debe tener al menos 8 caracteres</span>
              <span *ngIf="recoverForm.controls.identificacion.errors?.['maxlength']">La cédula debe tener máximo 10 caracteres</span>
              <span *ngIf="recoverForm.controls.identificacion.errors?.['pattern']">La cédula debe contener solo  números</span>
            </div>


        <app-custom-input 
            icon="mail-outline" 
            label = "Email"
            type ="email"
            autocomplete="email"
            [control]="recoverForm.controls.email"></app-custom-input>
            <div class="error" *ngIf="recoverForm.controls.email.errors && recoverForm.controls.email.touched">
                <span *ngIf="recoverForm.controls.email.errors?.['required']">El correo electronico es obligatorio</span>
                <span *ngIf="recoverForm.controls.email.errors?.['email']">Ingrese un correo valido</span>
            </div>
        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="recoverForm.invalid">
            Recuperar contraseña
        </ion-button>
    </form>
    <p class="small">¿Aun no tienes cuenta? <a href="" routerLink="../sign-up">Registrate</a></p>


  </div>

</ion-content>
