<!-- header -->
<app-header title="Cambiar Contraseña"></app-header>

<ion-content [fullscreen]="true" >
  <div class="form">

    <!-- Logo -->
    <app-logo></app-logo>

    <!-- Formulario -->

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

          <app-custom-input icon="lock-closed-outline" 
          label="Contraseña" 
          type="password"
          [control]="resetPasswordForm.controls.password">
          </app-custom-input>
              <!-- Errores -->
              <div class="error" *ngIf="resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.touched">
                <span *ngIf="resetPasswordForm.controls.password.errors?.['required']">La contraseña es obligatoria</span>
                <span *ngIf="resetPasswordForm.controls.password.errors?.['minlength']">La contraseña debe tener almenos 10 caracteres</span>
                <span *ngIf="resetPasswordForm.controls.password.errors?.['maxlength']">La contraseña debe tener maximo 16 caracteres</span>
            </div>

          
            <app-custom-input icon="lock-closed-outline" 
            label="Contraseña" 
            type="password"
            [control]="resetPasswordForm.controls.confirmPassword">
            </app-custom-input>
                <!-- Errores -->
                <div class="error" *ngIf="resetPasswordForm.controls.confirmPassword.errors && resetPasswordForm.controls.confirmPassword.touched">
                  <span *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['required']">La contraseña es obligatoria</span>
                  <span *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['minlength']">La contraseña debe tener almenos 10 caracteres</span>
                  <span *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['maxlength']">La contraseña debe tener maximo 16 caracteres</span>
              </div>


          <!-- Boton de Ingreso -->
          <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="resetPasswordForm.invalid">
            Cambiar
          </ion-button>
          <p class="small">¿Ya tienes cuenta? <a href="" routerLink="">Iniciar sesion</a></p>

    </form>


  </div>

</ion-content>