<app-header title="Asignar responsable"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <app-custom-input icon="business-outline" label="Empresa" type="text" autocomplete="empresa"
          [control]="inputs.controls.empresa" [readonly]="true"></app-custom-input>
      </ion-col>
      <ion-col size="6">
        <app-custom-input icon="business-outline" label="Empresa" type="text" autocomplete="empresaInfo"
          [control]="inputs.controls.empresaInfo" [readonly]="true"></app-custom-input>
      </ion-col>
      <ion-col size="6">
        <app-custom-input icon="id-card-outline" label="Identificacion del emisor" type="text" autocomplete="emisor"
          [control]="inputs.controls.emisor" [readonly]="true"></app-custom-input>
      </ion-col>
      <ion-col size="6">
        <app-custom-input icon="person-outline" label="Emisor" type="text" autocomplete="nombreEmisor"
          [control]="inputs.controls.nombreEmisor" [readonly]="true"></app-custom-input>
      </ion-col>
      <ion-col size="12">
        <app-custom-input icon="document-text-outline" label="Tipo de documento" type="text" autocomplete="tipo"
          [control]="inputs.controls.tipo" [readonly]="true"></app-custom-input>
      </ion-col>
      <ion-col size="6">
        <app-custom-input icon="barcode-outline" label="Numero de documento" type="text" autocomplete="numero"
          [control]="inputs.controls.numero" [readonly]="true"></app-custom-input>
      </ion-col>
      <ion-col size="6">
        <app-custom-input icon="wallet-outline" label="Valor total" type="text" autocomplete="valor"
          [control]="inputs.controls.valor" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <ion-item class="ion-margin-top">
          <ion-select class="list" interface="popover" placeholder="Seleccionar tipo de compra"
            [formControl]="inputs.controls.tipoCompraId">
            <ion-select-option *ngFor="let item of compras" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item class="cc-input typeahead-host">
          <ion-label position="stacked">Responsable</ion-label>

          <ion-input placeholder="Buscar Responsable" [(ngModel)]="searchResponsable" (click)="openTypeahead()"
            (ionFocus)="openTypeahead()" (ionInput)="onTypeaheadInput()" (keydown)="onTypeaheadKey($event)"
            (ionBlur)="closeTypeaheadSoon()" autocomplete="off" clearInput>
          </ion-input>
        </ion-item>

        <div class="typeahead-panel" *ngIf="typeaheadOpen">

          <ion-list *ngIf="!searchResponsable; else filteredTpl">
            <ion-item button detail="false" *ngFor="let u of frecuentes; let i = index"
              [class.active]="i === highlightedIndex" (mousedown)="$event.preventDefault()" (click)="selectResponsable(u)">
              <ion-label>
                <div>{{ u.name }}</div>
              </ion-label>
            </ion-item>
          </ion-list>
          
          <ng-template #filteredTpl>
            <ion-list *ngIf="responsableFiltrados?.length; else noDataTpl">
              <ion-item button detail="false" *ngFor="let c of responsableFiltrados; let i = index"
                [class.active]="i === highlightedIndex" (mousedown)="$event.preventDefault()"
                (click)="selectResponsable(c)">
                <ion-label>
                  <div>{{ c.name }}</div>
                </ion-label>
              </ion-item>
            </ion-list>
            <ng-template #noDataTpl>
              <div class="empty">Sin resultados</div>
            </ng-template>
          </ng-template>
        </div>
      </ion-col>

      <ion-col size="12" *ngIf="mostrarObservacionResponsable()">
        <app-custom-input icon="pencil-outline" label="Observación Responsable" type="text"
          autocomplete="observacionTesoreria" [control]="inputs.controls.observacionResponsable"
          [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="12" *ngIf="mostrarObservacionContable()">
        <app-custom-input icon="pencil-outline" label="Observación Contable" type="text"
          autocomplete="observacionContable" [control]="inputs.controls.observacionContable"
          [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="12" *ngIf="mostrarObservacionTesoreria()">
        <app-custom-input icon="pencil-outline" label="Observación Tesoreria" type="text"
          autocomplete="observacionTesoreria" [control]="inputs.controls.observacionTesoreria"
          [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <ion-button (click)="dian()" color="success" expand="block" shape="round">
          DIAN
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" class="ion-margin-top" shape="round" (click)="fileInput.click()">
          <ion-icon name="document-attach-outline" slot="start"></ion-icon>
          Selecciona el pdf
        </ion-button>

        <input type="file" #fileInput (change)="onFileChange($event)" accept=".pdf" hidden>
      </ion-col>
      <ion-col class="ion-margin" size="12">
        <ion-text *ngIf="selectedFileName">
          Archivo seleccionado: {{ selectedFileName }}
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-button class="ion-margin-top" (click)="ngOut()" expand="block" color="danger" shape="round">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="ion-margin-top" (click)="update()" expand="block" shape="round">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>