<app-header title="Autorizar documento"></app-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <app-custom-input icon="business-outline" label="Empresa" type="text" autocomplete="empresa"
          [control]="inputs.controls.empresa" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="business-outline" label="Empresa" type="text" autocomplete="empresa"
          [control]="inputs.controls.empresaInfo" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="id-card-outline" label="Identificacion del emisor" type="text" autocomplete="emisor"
          [control]="inputs.controls.emisor" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="person-outline" label="Emisor" type="text" autocomplete="nombreEmisor"
          [control]="inputs.controls.nombreEmisor" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="document-text-outline" label="Tipo de documento" type="text" autocomplete="tipo"
          [control]="inputs.controls.tipo" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <ion-button fill="outline" expand="block" color="primary" class="ion-margin-top"
          (click)="unionDesdeFormulario()" [disabled]="!inputs.controls.urlpdf.value">
          Ver PDF
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="barcode-outline" label="Numero de documento" type="text" autocomplete="numero"
          [control]="inputs.controls.numero" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="wallet-outline" label="Valor total" type="text" autocomplete="valor"
          [control]="inputs.controls.valor" [readonly]="true"></app-custom-input>
        <p>Puede que esta cifra no coincida con el PDF de acuerdo a los datos informados por el proveedor. Por favor
          verificar</p>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Centro de Costo</ion-label>
          <ion-input placeholder="Buscar centro de costo" [(ngModel)]="searchCentro" (ionInput)="searchCentroCosto()"
            autocomplete="off">
          </ion-input>

        </ion-item>

        <!-- Mostrar lista de resultados filtrados -->
        <ion-list class="list" *ngIf="buscandoCentro && centrosFiltrados.length > 0 && searchCentro">
          <ion-item *ngFor="let centro of centrosFiltrados" (click)="selectCentro(centro)">
            {{ centro.nombre }} - {{ centro.codigo }}
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="cart-outline" lavel="Tipo de compra" type="text" autocomplete="compras_tipo"
          [control]="inputs.controls.compras_tipo" [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="6">
        <app-custom-input icon="pencil-outline" label="Observación" type="text" autocomplete="observacionResponsable"
          [control]="inputs.controls.observacionResponsable"></app-custom-input>
      </ion-col>

      <ion-col size="12" *ngIf="mostrarObservacionContable()">
        <app-custom-input icon="pencil-outline" label="Observación Contable" type="text"
          autocomplete="observacionContable" [control]="inputs.controls.observacionContable"
          [readonly]="true"></app-custom-input>
      </ion-col>

      <ion-col size="12" *ngIf="mostrarObservacionTesoreria()">
        <app-custom-input icon="pencil-outline" label="Observación Tesoreria" type="text"
          autocomplete="observacionTesoreria" [control]="inputs.controls.observacionTesoreria"
          [readonly]="true"></app-custom-input>
      </ion-col>

      <!-- Añadir Archivo -->
      <ion-col size="4">
        <ion-item lines="none">
          <ion-checkbox slot="start" [(ngModel)]="adjuntos"></ion-checkbox>
          <ion-label>Adjuntar Soporte</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4" *ngIf="adjuntos">
        <ion-button fill="outline" expand="block" (click)="fileInput.click()">
          <ion-icon name="document-attach-outline" slot="start"></ion-icon>
          Añadir archivo
        </ion-button>
        <input type="file" #fileInput (change)="onFileChange($event)" multiple hidden accept=".pdf, .png, .jpg, .jpeg, .xls, .xlsx">
      </ion-col>

      <ion-col size="12" class="ion-margin-top" *ngIf="selectedFiles.length > 0">
        <ion-list>
          <ion-item *ngFor="let file of selectedFiles">
            <ion-icon name="document-outline" slot="start"></ion-icon>
            <ion-label>{{ file.name }}</ion-label>
            <ion-button fill="clear" size="small" color="danger" (click)="removeFile(file.name)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>      

      <!-- Asignar Centro de Costo -->
      <ion-col size="6">
        <ion-item lines="none">
          <ion-checkbox slot="start" [(ngModel)]="asignar"></ion-checkbox>
          <ion-label>Asignar Centro de Costo</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <div class="table-wrapper" *ngIf="asignar">
          <table class="sync-table">
            <thead>
              <tr>
                <th class="col-xs">Item</th>
                <th class="col-sm">Cod Producto</th>
                <th class="col-lg">Nombre del producto</th>
                <th class="col-xl">Centro de costo</th>
                <th class="col-sm">Cod Ccosto</th>
                <th class="col-xs">Cantidad</th>
                <th class="col-md">Costo Unitario</th>
                <th class="col-xs">IVA</th>
                <th class="col-md">Costo IVA</th>
                <th class="col-md">Costo Bruto</th>
                <th class="col-md">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of documentos">
                <td>{{ item.numeroItem }}</td>
                <td>{{ item.ProductoProveedor }}</td>
                <td>{{ item.nombreProductoProveedor }}</td>
                <td>
                  <ion-input type="text" placeholder="Buscar centro de costo" [(ngModel)]="item.nombre"
                    (ionInput)="search(item.nombre, item)" autocomplete="off">
                  </ion-input>

                  <!-- Mostrar lista de resultados filtrados por item -->
                  <ion-list class="list" *ngIf="item.centrosFiltrados?.length > 0 && item.nombre">
                    <ion-item *ngFor="let centro of item.centrosFiltrados" (click)="select(centro, item)">
                      {{ centro.nombre }} - {{ centro.codigo }}
                    </ion-item>
                  </ion-list>
                </td>
                <td>{{ item.codigo }}</td>
                <td>{{ item.cantidad | number:'1.0-0' }}</td>
                <td>{{ item.costoUnitario | currency: 'USD':'symbol':'1.0-0' }}</td>
                <td>{{ item.porIva / 100 | percent:'1.0-0' }}</td>
                <td>{{ item.costoIva | currency: 'USD':'symbol':'1.0-0' }}</td>
                <td>{{ item.costoBruto | currency: 'USD':'symbol':'1.0-0' }}</td>
                <td>{{ item.costoTotal | currency: 'USD' :'symbol':'1.0-0' }}</td>
              </tr>
              <tr class="total-row">
                <td colspan="1" style="text-align: right;"><strong>Totales</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ suma().cantidad }}</strong></td>
                <td></td>
                <td></td>
                <td><strong>{{ suma().costoIVA | currency:'USD':'symbol':'1.0-0' }}</strong></td>
                <td><strong>{{ suma().costoBruto | currency:'USD':'symbol':'1.0-0' }}</strong></td>
                <td><strong>{{ suma().total | currency:'USD':'symbol':'1.0-0' }}</strong></td>
              </tr>
            </tbody>
          </table>
          <ion-button (click)="save()" expand="block" shape="round">
            guardar
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="6">
        <ion-button class="ion-margin-top" (click)="decline()" expand="block" color="warning" shape="round">
          rechazar
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button class="ion-margin-top" (click)="update()" expand="block" shape="round">
          autorizar
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button class="ion-margin-top" (click)="ngOut()" expand="block" color="danger" shape="round">
          cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>