<app-header title="Menu"></app-header>
<app-side-menu *ngIf="showMenu"></app-side-menu>

<ion-content [fullscreen]="true">
  <div class="logout-button-container">
    <ion-button (click)="logout()" color="danger" class="logout-button">
      <ion-icon name="log-out-outline" size="large" slot="end"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
  <ion-grid fixed>
    <ion-row class="ion-margin-top">
      <ion-col size="6" *ngIf="rol === 1 || rol === 2 || rol === 3 || rol === 4 || rol === 5">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="person-outline" size="large"></ion-icon>
            <ion-card-title>Mi Perfile</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['profile']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a Perfil
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 2">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="document-text-outline" size="large"></ion-icon>
            <ion-card-title>Subir Documentos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['documentos']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a documentos
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 3">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="create-outline" size="large"></ion-icon>
            <ion-card-title>Autorizar Documentos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['autorizar']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a autorizar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 4">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="calculator-outline" size="large"></ion-icon>
            <ion-card-title>Contabilizar Documentos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['contabilizar']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a contabilizar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 5">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="card-outline" size="large"></ion-icon>
            <ion-card-title>Tesoreria</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['tesoreria']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a tesoreria
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 2 || rol === 3 || rol === 4 || rol === 5">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="analytics-outline" size="large"></ion-icon>
            <ion-card-title>Trazabilidad</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['trazabilidad']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a trazabilidad
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 4">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="sync-outline" size="large"></ion-icon>
            <ion-card-title>Conciliacion</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['conciliacion']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a Conciliacion
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="rol === 1 || rol === 4">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-align-items-center">
            <ion-icon name="cloud-upload-outline" size="large"></ion-icon>
            <ion-card-title>Subir registros DIAN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['conciliacion']" routerLinkActive="router-link-active" expand="block" shape="round">
              <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
              Ir a registros DIAN
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" *ngIf="rol === null">
        <ion-card color="light" class="ion-padding" style="text-align: center;">
          <ion-card-header>
            <ion-icon name="help-circle-outline" size="large" style="font-size: 48px; color: var(--ion-color-primary);"></ion-icon>
            <ion-card-title class="ion-text-center" style="margin-top: 8px;">
              ¿Necesitas acceso?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tu rol aún no está definido en el sistema.<br />
            Por favor, comunícate con el área de sistemas para obtener acceso.
          </ion-card-content>
          <ion-button expand="block" color="primary" fill="outline" class="ion-margin-top" >
            <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
            Contactar sistemas
          </ion-button>
        </ion-card>
      </ion-col>      

    </ion-row>
  </ion-grid>
</ion-content>