<app-header title="Trazabilidad" [showMenu]="true"></app-header>
<app-side-menu></app-side-menu>

<ion-content id="main-content">
  <!-- Botón para mostrar/ocultar filtros -->
  <div class="ion-margin" *ngIf="!showForm">
    <ion-button expand="block" style="--background: #00a4f3;" (click)="toggleFilters()">
      {{ showFilters ? 'Ocultar Filtros' : 'Buscar' }}
    </ion-button>
  </div>

  <!-- Contenedor de Filtros -->
  <div *ngIf="showFilters" class="ion-margin">
    <ion-grid>
      <ion-row>
        <!-- Fecha Inicio -->
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Fecha Inicio</ion-label>
            <ion-datetime-button datetime="datetime-start" class="ion-margin"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-start" presentation="date" [(ngModel)]="filterStartDate"
                  (ionChange)="onDateChange('start', $event.detail.value)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <!-- Fecha Fin -->
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Fecha Fin</ion-label>
            <ion-datetime-button datetime="datetime-end" class="ion-margin"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-end" presentation="date" [(ngModel)]="filterEndDate"
                  (ionChange)="onDateChange('end', $event.detail.value)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <!-- Empresa -->
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Empresa</ion-label>
            <ion-select interface="popover" [(ngModel)]="filterEmpresa" placeholder="Selecciona la empresa">
              <ion-select-option *ngFor="let empresa of empresas" [value]="empresa.nombre">
                {{ empresa.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Responsable -->
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Responsable</ion-label>
            <ion-select interface="popover" [(ngModel)]="filterResponsable" placeholder="Selecciona responsable"
              [disabled]="rol === 3">
              <ion-select-option *ngFor="let responsable of responsables" [value]="responsable.name">
                {{ responsable.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Tipo de Compra -->
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Tipo de Compra</ion-label>
            <ion-select interface="popover" [(ngModel)]="filterTipoCompra" placeholder="Selecciona tipo de compra">
              <ion-select-option *ngFor="let tipo of tpcompras" [value]="tipo.nombre">
                {{ tipo.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Estado -->
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select interface="popover" [(ngModel)]="filterEstado" placeholder="Selecciona estado">
              <ion-select-option *ngFor="let estado of estados" [value]="estado.nombre">
                {{ estado.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Emisor -->
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Emisor</ion-label>
            <ion-select [(ngModel)]="filterEmisor" placeholder="Selecciona emisor">
              <ion-select-option *ngFor="let emisor of emisores" [value]="emisor.emisor">
                {{ emisor.nombreEmisor }} - {{ emisor.emisor }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Botones -->
        <ion-col size="6">
          <ion-button expand="block" color="primary" (click)="applyFilters()">Aplicar Filtros</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="light" (click)="resetFilters()">Limpiar Filtros</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="success" (click)="exportToExcel()">
            <ion-icon name="download-outline" slot="start"></ion-icon>
            Exportar a Excel
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <ion-fab *ngIf="rol === 1 || rol === 2" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success" [disabled]="selectedDocs.length === 0" (click)="exportSelectedToExcel()">
      <ion-icon name="download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="table-wrapper">
    <table class="sync-table">
      <thead>
        <tr>
          <td>Historial Factura</td>
          <td *ngIf="rol === 1 || rol === 2">Impresiones</td>
          <td *ngIf="rol === 1 || rol === 2">Impreso</td>
          <th>Identificacion del emisor</th>
          <th>Emisor</th>
          <th>Empresa</th>
          <th>Tipo de documento</th>
          <th>N° de documento</th>
          <th>Tipo de compra</th>
          <th>Valor total</th>
          <th>Fecha estado comercial</th>
          <th>CUFE/CUDE</th>
          <th>Url PDF</th>
          <th>Centro de costo</th>
          <th>Observación Responsable</th>
          <th>Observación Contable</th>
          <th>Observacion Tesoreria</th>
          <th>Estado</th>
          <th>Conciliado</th>
          <th>Responsable</th>
          <th>Fecha Asignacion</th>
          <th>Fecha Autorizacion</th>
          <th>Fecha Contabilizacion</th>
          <th>Fecha Tesoreria</th>
          <!-- <th>Habilitado</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of documentos">
          <td>
            <ion-checkbox (click)="modalAuditoria(item)"></ion-checkbox>
          </td>
          <td *ngIf="rol === 1 || rol === 2">
            <ion-checkbox [checked]="item.impreso" [disabled]="item.impreso" [ngModel]="item.selected ?? item.impreso" (ngModelChange)="item.selected = $event; onSelectDoc(item)">
            </ion-checkbox>
          </td>
          <td *ngIf="rol === 1 || rol === 2">{{ item.impreso }}</td>
          <td>{{ item.emisor }}</td>
          <td>{{ item.nombreEmisor }}</td>
          <td>{{ item.empresaInfo?.nombre }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.numero }}</td>
          <td>{{ item.compras_tipo?.nombre }}</td>
          <td>{{ item.valor | currency:'USD' :'symbol':'1.0-0' }}</td>
          <td>{{ item.fecha | date:'dd/MM/yyyy':'UTC' }}</td>
          <td>
            <a *ngIf="item.cufe" (click)="dian(item)" style="color: blue; cursor: pointer;">
              {{ item.cufe }}
            </a>
          </td>
          <td>
            <a *ngIf="item.urlPdf" (click)="union(item)" style="color: blue; cursor: pointer;">
              Ver PDF
            </a>
          </td>
          <td>{{ item.ccosto }} {{ item.ccostoNombre }} </td>
          <td>{{ item.observacionResponsable }}</td>
          <td>{{ item.observacionContable }}</td>
          <td>{{ item.observacionTesoreria }}</td>
          <td>{{ item.compras_estado?.nombre }}</td>
          <td>{{ item.conciliado }}</td>
          <td>{{ item.responsable?.name }}</td>
          <td>{{ item.fechaAsignacion | date:'dd/MM/yyyy':'UTC' }}</td>
          <td>{{ item.fechaAutorizacion | date:'dd/MM/yyyy':'UTC' }}</td>
          <td>{{ item.fechaContabilizacion | date:'dd/MM/yyyy':'UTC' }}</td>
          <td>{{ item.fechaTesoreria | date:'dd/MM/yyyy':'UTC' }}</td>
          <!-- <td>{{ item.habilitado }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>