<app-header title="Conciliacion" [showMenu]="true"></app-header>
<app-side-menu></app-side-menu>

<ion-content id="main-content">

  <div class="table-wrapper" >
    <table class="sync-table">
      <thead>
        <tr>
          <th>Conciliar</th>
          <th>Empresa</th>
          <th>Identificacion del emisor</th>
          <th>Emisor</th>
          <th>Tipo de documento</th>
          <th>N° de documento</th>
          <th>Fecha</th>
          <th>CUFE/CUDE</th>
          <th>Valor total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of documentos">
          <td *ngIf="item.conciliado === 0">
            <ion-checkbox (click)="modalAsignacion(item)"></ion-checkbox>
          </td>
          <td *ngIf="item.conciliado !== 0">
            <ion-icon name="checkmark-outline" size="large" color="success"></ion-icon>
          </td>
          
          <td>{{ item.empresa }}</td>
          <td>{{ item.emisor }}</td>
          <td>{{ item.nombreEmisor }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.numero }}</td>
          <td>{{ item.fecha | date:'dd/MM/yyyy':'UTC' }}</td>
          <td>{{ item.cufe }}</td>
          <td>{{ item.valor | currency:'USD' :'symbol':'1.0-0' }}</td>
          <!-- <td>{{ item.habilitado }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>